%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button{type: 'button', class: ['navbar-toggle', 'collapsed'], 'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-expanded': 'false', 'aria-controls': 'navbar'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand NightlyCoffee.com
    .navbar-collapse.collapse#navbar
      %ul.nav.navbar-nav.navbar-right.collapse
        %li
          %a{href: "#"} Dashboard
        %li
          %a{href: "#"} Settings
        %li
          %a{href: "#"} Profile
        %li
          %a{href: "#"} Help
      %form.navbar-form.navbar-right
        %input{type: 'text', class: 'form-control', placeholder: 'Search...'}
