%div
  %a{href: '#', 'ui-sref': 'articleNew', class: 'btn btn-success'}
    Add article
%div{'ng-repeat': 'article in ctrl.articles'}
  %a{href: '#', 'ui-sref': 'articlesShow({id: article.id})'}
    {{article.title}}